Source: libmax31855
Section: libraries
Priority: extra
XBSC-Group: Sensors
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libmax31855
Architecture: all
Description: MAX31855 library

